@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(45deg, #EECFBA, #C5DDE8);
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(128, 77, 77, 0.36);
  border-radius: 20px;
  padding: 10rem 10rem;
  color: #fff;
}

.item {
  width: 380px;
  height: 50px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 380px;
  height: 100px;
  margin: auto;
}

.start {
  background: linear-gradient(90deg, #b195ab 0%, #94b7d1 179.25%);
}

.progress {
  background: linear-gradient(90deg, #676d72 0%, #576e6b 100%);
}

.done {
  background: linear-gradient(90deg, #aeccba 0%, #3e6375 100%);
}

.hold {
  border: 5px solid #eee;
}

.hide {
  display: none;
}

.hovered {
  border-top: 2px solid #8ed7ed;
}

.slide {
  height: 40vh;
  border-radius: 20px;
  margin: 10px;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} 